<!DOCTYPE HTML>
<html>
<head>
<title>学生报名</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<link href="css/bootstrap-3.1.1.min.css" rel='stylesheet'
	type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/jquery.countdown.css" />
<link
	href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700'
	rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="css/font-awesome.css" rel="stylesheet">
<!----font-Awesome----->
<script>
	$(document).ready(function() {
		$(".dropdown").hover(function() {
			$('.dropdown-menu', this).stop(true, true).slideDown("fast");
			$(this).toggleClass('open');
		}, function() {
			$('.dropdown-menu', this).stop(true, true).slideUp("fast");
			$(this).toggleClass('open');
		});
	});
</script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><span
					class="logo-text">桂林市卫生学校</span></a>
			</div>
			<!--/.navbar-header-->
			<div class="navbar-collapse collapse"
				id="bs-example-navbar-collapse-1" style="height: 1px;">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="login.html"><i
							class="fa fa-user"></i><span>登陆</span></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><i class="fa fa-list"></i><span>Courses</span></a>
						<ul class="dropdown-menu">
							<li><a href="courses.html">Courses Categories</a></li>
							<li><a href="courses.html">Courses list</a></li>
							<li><a href="courses.html">Courses detail</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><i class="fa fa-calendar"></i><span>Events</span></a>
						<ul class="dropdown-menu">
							<li><a href="events.html">Event1</a></li>
							<li><a href="events.html">Event2</a></li>
							<li><a href="events.html">Event3</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><i class="fa fa-globe"></i><span>English</span></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span><i class="flags us"></i><span>English</span></span></a></li>
							<li><a href="#"><span><i class="flags newzland"></i><span>Newzland</span></span></a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><i class="fa fa-search"></i><span>Search</span></a>
						<ul class="dropdown-menu search-form">
							<form>
								<input type="text" class="search-text" name="s"
									placeholder="Search...">
								<button type="submit" class="search-submit">
									<i class="fa fa-search"></i>
								</button>
							</form>
						</ul></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<!--/.navbar-collapse-->
	</nav>
	<nav class="navbar nav_bottom" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav nav_1">
					<li><a href="index.html">首页</a></li>
					<li><a href="studentSignup.html">学生报名</a></li>
					<li class="dropdown mega-dropdown active"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown">Admissions<span
							class="caret"></span></a>
						<div class="dropdown-menu mega-dropdown-menu">
							<div class="container-fluid">
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="men">
										<ul class="nav-list list-inline">
											<li><a href="admission.html"><img
													src="images/t7.jpg" class="img-responsive" alt="" /></a></li>
											<li><a href="admission.html"><img
													src="images/t8.jpg" class="img-responsive" alt="" /></a></li>
											<li><a href="admission.html"><img
													src="images/t9.jpg" class="img-responsive" alt="" /></a></li>
											<li><a href="admission.html"><img
													src="images/t1.jpg" class="img-responsive" alt="" /></a></li>
										</ul>
									</div>
									<div class="tab-pane" id="women">
										<ul class="nav-list list-inline">
											<li><a href="admission.html"><img
													src="images/t1.jpg" class="img-responsive" alt="" /></a></li>
											<li><a href="admission.html"><img
													src="images/t2.jpg" class="img-responsive" alt="" /></a></li>
											<li><a href="admission.html"><img
													src="images/t3.jpg" class="img-responsive" alt="" /></a></li>
											<li><a href="admission.html"><img
													src="images/t4.jpg" class="img-responsive" alt="" /></a></li>
											<li><a href="admission.html"><img
													src="images/t5.jpg" class="img-responsive" alt="" /></a></li>
											<li><a href="admission.html"><img
													src="images/t6.jpg" class="img-responsive" alt="" /></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li class="active"><a href="#men" role="tab"
									data-toggle="tab">School</a></li>
								<li><a href="#women" role="tab" data-toggle="tab">College</a></li>
							</ul>
						</div></li>
					<li><a href="faculty.html">Faculty</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Programs<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="terms.html">Terms of use</a></li>
							<li><a href="shortcodes.html">Shortcodes</a></li>
							<li><a href="faq.html">Faq</a></li>
						</ul></li>
					<li><a href="services.html">Services</a></li>
					<li class="last"><a href="contact.html">Contacts</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	<!-- banner -->
	<div class="courses_banner">
		<div class="container">
			<h3>报名入口-学生信息填写</h3>
			<!--   		<p class="description"> -->
			<!--              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie. -->
			<!--         </p> -->
			<div class="breadcrumb1">
				<ul>
					<li class="icon6"><a href="index.html">首页</a></li>
					<li class="current-page">学生报名</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="grid_3">
		<div style="text-align: center; margin-top: 36px;">
			<h3>学生报名-信息填写</h3>
		</div>
		<div style="margin-top: 36px;">
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">姓名</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="stuName" type="text" class="form-control"
									v-model="stuInfo.stuName" placeholder="姓名" onblur="checkName()"
									onfocus="focus1()" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">姓名拼音</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="stuPinyinName" type="text" class="form-control"
									v-model="stuInfo.stuPinyinName" placeholder="姓名拼音" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">性别</div>
							<div class="col-sm-7">
								<label class="radio-inline"> <input type="radio"
									name="stuSex" value="0" v-model="stuInfo.stuSex" /> 男
								</label> <label class="radio-inline"> <input type="radio"
									name="stuSex" value="1" v-model="stuInfo.stuSex" /> 女
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">出生日期</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="stuBirthday" type="text" class="form-control"
									v-model="stuInfo.stuBirthday" placeholder="出生日期" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">证件号码</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="stuCertificatesNum" type="text" class="form-control"
									v-model="stuInfo.stuCertificatesNum" placeholder="证件号码"
									onBlur="setBirthday()" onfocus="focus2()" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">证件类型</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control"
									v-model="stuInfo.stuCertificatesType.id">
									<option v-for="stuCertificatesType in stuCertificatesTypes"
										v-bind:value="stuCertificatesType.id">{{stuCertificatesType.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">证件图片(正面)</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="fileInput" type="file" style="display: none"
									accept="image/x-png,image/gif,image/jpeg,image/bmp"> <img
									id="imgWH" :src="certificatesImgUrl" style="display: none">
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5"></div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">详细地址</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input type="text" class="form-control"
									v-model="stuInfo.stuDetailAdress" placeholder="详细地址" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">所属派出所名称</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input type="text" class="form-control"
									v-model="stuInfo.stuPoliceStation" placeholder="所属派出所名称" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">联系电话</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="stuPhoneNum" type="text" class="form-control"
									v-model="stuInfo.stuPhoneNum" placeholder="联系电话"
									onblur="checkPhoneNum()" onfocus="focus5()" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">准考证号(选填)</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="stuZKH" type="text" class="form-control"
									v-model="stuInfo.stuZKH" placeholder="准考证号" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">是否随迁子女</div>
							<div class="col-sm-7">
								<label class="radio-inline"> <input type="radio"
									name="stuIsSuiqian" value="0" v-model="stuInfo.stuIsSuiqian" />
									是
								</label> <label class="radio-inline"> <input type="radio"
									name="stuIsSuiqian" value="1" v-model="stuInfo.stuIsSuiqian" />
									否
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">是否已婚</div>
							<div class="col-sm-7">
								<label class="radio-inline"> <input type="radio"
									name="stuIsMarried" value="0" v-model="stuInfo.stuIsMarried" />
									是
								</label> <label class="radio-inline"> <input type="radio"
									name="stuIsMarried" value="1" v-model="stuInfo.stuIsMarried" />
									否
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">是否全日制</div>
							<div class="col-sm-7">
								<label class="radio-inline"> <input type="radio"
									name="stuIsAllDay" value="0" v-model="stuInfo.stuIsAllDay" />
									是
								</label> <label class="radio-inline"> <input type="radio"
									name="stuIsAllDay" value="1" v-model="stuInfo.stuIsAllDay" />
									否
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">是否应届</div>
							<div class="col-sm-7">
								<label class="radio-inline"> <input type="radio"
									name="stuIsCurrent" value="0" v-model="stuInfo.stuIsCurrent" />
									是
								</label> <label class="radio-inline"> <input type="radio"
									name="stuIsCurrent" value="1" v-model="stuInfo.stuIsCurrent" />
									否
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">火车区间</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<input type="text" class="form-control"
									v-model="stuInfo.stuTrainSection" placeholder="A" />
							</div>
							<div class="col-sm-1" style="margin-left: -22px;">-</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<input type="text" class="form-control"
									v-model="stuInfo.stuTrainSection" placeholder="B" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">居住地类型</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuDomicile">
									<option v-bind:value="0">农村</option>
									<option v-bind:value="1">乡镇</option>
									<option v-bind:value="2">县城</option>
									<option v-bind:value="3">城市</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">户口性质</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuHouseHoldType">
									<option v-bind:value="0">农业户口</option>
									<option v-bind:value="1">非农业户口</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">健康状况</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control"
									v-model="stuInfo.stuHealthCondition">
									<option v-bind:value="0">健康良好</option>
									<option v-bind:value="1">一般较弱</option>
									<option v-bind:value="2">有慢性病</option>
									<option v-bind:value="3">残疾</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">招生对象</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuEnrolObject.id">
									<option v-for="stuEnrolObject in stuEnrolObjects"
										v-bind:value="stuEnrolObject.id">{{stuEnrolObject.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">政治面貌</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control"
									v-model="stuInfo.stuPoliticalOutlook.id">
									<option v-for="stuPoliticalOutlook in stuPoliticalOutlooks"
										v-bind:value="stuPoliticalOutlook.id">{{stuPoliticalOutlook.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">民族</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuNation.id">
									<option v-for="stuNation in stuNations"
										v-bind:value="stuNation.id">{{stuNation.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">联招类型</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuEnrolType.id">
									<option v-for="stuEnrolType in stuEnrolTypes"
										v-bind:value="stuEnrolType.id">{{stuEnrolType.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">国籍</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuNationality.id">
									<option v-for="stuNationality in stuNationalitys"
										v-bind:value="stuNationality.id">{{stuNationality.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">港澳台华侨</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuHKMTOC.id">
									<option v-for="stuHKMTOC in stuHKMTOCs"
										v-bind:value="stuHKMTOC.id">{{stuHKMTOC.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">入学方式</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuEntranceWay.id">
									<option v-for="stuEntranceWay in stuEntranceWays"
										v-bind:value="stuEntranceWay.id">{{stuEntranceWay.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">学生类型</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control" v-model="stuInfo.stuType.id">
									<option v-for="stuType in stuTypes" v-bind:value="stuType.id">{{stuType.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">专业</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select id="major" class="form-control"
									v-model="stuInfo.stuMajor.majorId"
									@change="change(stuInfo.stuMajor.majorId)">
									<option v-for="stuMajor in stuMajors"
										v-bind:value="stuMajor.majorId">{{stuMajor.majorName}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">学制</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="length" type="text" class="form-control"
									placeholder="学制" disabled="disabled" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">分段培养方式</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control"
									v-model="stuInfo.stuSubsectionCulture">
									<option v-for="subsectionCulture in subsectionCultures"
										v-bind:value="subsectionCulture.name">{{subsectionCulture.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5"></div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form class="form-horizontal">
						<div class="form-group" style="margin-left: -66px;">
							<div class="col-sm-3 control-label">生源地行政区</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="prov">
									<option v-for="stuArea in stuAreaArr" v-bind:value="stuArea.id">{{stuArea.name}}</option>
								</select>
							</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="city">
									<option v-for="stuArea in stuAreaCityArr"
										v-bind:value="stuArea.id">{{stuArea.name}}</option>
								</select>
							</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="district">
									<option v-for="stuArea in stuAreaDistrictArr"
										v-bind:value="stuArea.id">{{stuArea.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<!-- 						<div class="col-md-5"></div> -->
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form class="form-horizontal">
						<div class="form-group" style="margin-left: -66px;">
							<div class="col-sm-3 control-label">出生地行政区</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="provBirth">
									<option v-for="stuBirthArea in stuBirthAreaArr"
										v-bind:value="stuBirthArea.id">{{stuBirthArea.name}}</option>
								</select>
							</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="cityBirth">
									<option v-for="stuBirthArea in stuBirthAreaCityArr"
										v-bind:value="stuBirthArea.id">{{stuBirthArea.name}}</option>
								</select>
							</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="districtBirth">
									<option v-for="stuBirthArea in stuBirthAreaDistrictArr"
										v-bind:value="stuBirthArea.id">{{stuBirthArea.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<!-- 						<div class="col-md-5"></div> -->
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form class="form-horizontal">
						<div class="form-group" style="margin-left: -66px;">
							<div class="col-sm-3 control-label">籍贯地行政区</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="provNation">
									<option v-for="stuNationArea in stuNationAreaArr"
										v-bind:value="stuNationArea.id">{{stuNationArea.name}}</option>
								</select>
							</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="cityNation">
									<option v-for="stuNationArea in stuNationAreaCityArr"
										v-bind:value="stuNationArea.id">{{stuNationArea.name}}</option>
								</select>
							</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="districtNation">
									<option v-for="stuNationArea in stuNationAreaDistrictArr"
										v-bind:value="stuNationArea.id">{{stuNationArea.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form class="form-horizontal">
						<div class="form-group" style="margin-left: -66px;">
							<div class="col-sm-3 control-label">户口地行政区</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="provHouse">
									<option v-for="stuHouseArea in stuHouseAreaArr"
										v-bind:value="stuHouseArea.id">{{stuHouseArea.name}}</option>
								</select>
							</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="cityHouse">
									<option v-for="stuHouseArea in stuHouseAreaCityArr"
										v-bind:value="stuHouseArea.id">{{stuHouseArea.name}}</option>
								</select>
							</div>
							<div class="col-sm-3" style="margin-left: -22px;">
								<select class="form-control" v-model="districtHouse">
									<option v-for="stuHouseArea in stuHouseAreaDistrictArr"
										v-bind:value="stuHouseArea.id">{{stuHouseArea.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12" style="margin-top: 36px;">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">家庭成员1姓名</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="stuFamilyMember1Name" type="text"
									class="form-control" v-model="stuInfo.stuFamilyMember1.name"
									placeholder="家庭成员1姓名" onblur="checkFamilyMember1Name()"
									onfocus="focus3()" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">是否监护人</div>
							<div class="col-sm-7">
								<label class="radio-inline"> <input type="radio"
									name="isGuardian1" value="0"
									v-model="stuInfo.stuFamilyMember1.guardian" /> 是
								</label> <label class="radio-inline"> <input type="radio"
									name="isGuardian1" value="1"
									v-model="stuInfo.stuFamilyMember1.guardian" /> 否
								</label>
							</div>

						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">家庭成员1电话</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input type="text" class="form-control"
									v-model="stuInfo.stuFamilyMember1.phoneNum"
									placeholder="家庭成员1电话" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">成员1关系</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control"
									v-model="stuInfo.stuFamilyMember1.relationShip.id">
									<option v-for="relationShip in relationShips"
										v-bind:value="relationShip.id">{{relationShip.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">家庭成员2姓名</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input id="stuFamilyMember2Name" type="text"
									class="form-control" v-model="stuInfo.stuFamilyMember2.name"
									placeholder="家庭成员1姓名" onblur="checkFamilyMember2Name()"
									onfocus="focus4()" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">是否监护人</div>
							<div class="col-sm-7">
								<label class="radio-inline"> <input type="radio"
									name="isGuardian2" value="0"
									v-model="stuInfo.stuFamilyMember2.guardian" /> 是
								</label> <label class="radio-inline"> <input type="radio"
									name="isGuardian2" value="1"
									v-model="stuInfo.stuFamilyMember2.guardian" /> 否
								</label>
							</div>

						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">家庭成员2电话</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<input type="text" class="form-control"
									v-model="stuInfo.stuFamilyMember2.phoneNum"
									placeholder="家庭成员1电话" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-5 control-label">成员2关系</div>
							<div class="col-sm-7" style="margin-left: -22px;">
								<select class="form-control"
									v-model="stuInfo.stuFamilyMember2.relationShip.id">
									<option v-for="relationShip in relationShips"
										v-bind:value="relationShip.id">{{relationShip.name}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="col-md-3 grid_4">
				<h3>关于我们</h3>
				<p>桂林市卫生学校，1998年由原桂林地区卫校（创办于1962年）与原桂林市中医学校（创办于1973年）合并而成，是经广西壮族自治区人民政府批准、区教育厅评审合格的全日制普通中等专业卫生学校。</p>
				<ul class="social-nav icons_2 clearfix">
					<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="facebook"> <i
							class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="google-plus"><i
							class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="col-md-3 grid_4">
				<h3>快速链接</h3>
				<ul class="footer_list">
					<li><a href="http://www.glswx.com.cn/Index.asp">- 学校主页</a></li>
					<li><a
						href="http://219.159.78.2:81/NewPage/Login.aspx?ReturnUrl=%2f">-
							网上教务系统</a></li>
					<li><a href="http://www.gledu.cn/">- 桂林教育信息网</a></li>
					<li><a href="http://www.gxedu.gov.cn/">- 广西壮族自治区教育厅</a></li>
					<li><a href="http://www.wenming.cn/">- 中国文明网</a></li>
				</ul>
			</div>
			<div class="col-md-3 grid_4">
				<h3>联系我们</h3>
				<address>
					<abbr>电话 : </abbr> 0773—3898202（校办） <br> 0773—3890904（招生就业办公室）
					<br> <abbr>邮件 : </abbr> glwxok@163.com <br> <abbr>招生办QQ
						: </abbr> 2821119176 <br> <abbr>地址 : </abbr> 民主路万寿巷10号 <br>
				</address>
			</div>
			<div class="col-md-3 grid_4">
				<h3>上班时间</h3>
				<table class="table_working_hours">
					<tbody>
						<tr class="opened_1">
							<td class="day_label">星期一</td>
							<td class="day_value">早上 9:30 - 下午 6:00</td>
						</tr>
						<tr class="opened">
							<td class="day_label">星期二</td>
							<td class="day_value">早上 9:30 - 下午 6:00</td>
						</tr>
						<tr class="opened">
							<td class="day_label">星期三</td>
							<td class="day_value">早上 9:30 - 下午 6:00</td>
						</tr>
						<tr class="opened">
							<td class="day_label">星期四</td>
							<td class="day_value">早上 9:30 - 下午 6:00</td>
						</tr>
						<tr class="opened">
							<td class="day_label">星期五</td>
							<td class="day_value">早上 9:30 - 下午 6:00</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="clearfix"></div>
			<div class="copy">
				<p>
					Copyright &copy; 2017 <a href="" target="_blank">智能招生信息管理系统</a> All
					Rights Reserved
				</p>
			</div>
		</div>
	</div>
</body>
</html>
